<div
    class="categorySelector flex-no-shrink flex align-center justify-center flex-wrap"
    hx-select="#content"
    hx-target="#content"
    hx-indicator="#content"
    hx-swap="outerHTML"
    hx-replace-url="true">
    <% const includeRanked = !!category.match(/-ranked/); const includeLoved = !!category.match(/-loved/); const
    includeConverts = !!category.match(/-converts/); const includeSpecifics = !!category.match(/-specifics/); %>
    <!-- Modes -->
    <div class="modes flex flex-wrap justify-center gap-4">
        <div class="flex gap-4">
            <button
                class="btn <%= category.match(/^all/) ? 'white' : '' %>"
                title="All modes"
                hx-get="<%= category_navigation.all %>">
                <span class="icon">globe</span>
            </button>
            <button
                class="btn <%= category.match(/^osu/) ? 'white' : '' %>"
                title="osu!standard"
                hx-get="<%= category_navigation.osu %>">
                <img src="/assets/ruleset-icons/osu.svg" class="icon mask" />
            </button>
            <button
                class="btn <%= category.match(/^taiko/) ? 'white' : '' %>"
                title="osu!taiko"
                hx-get="<%= category_navigation.taiko %>">
                <img src="/assets/ruleset-icons/taiko.svg" class="icon mask" />
            </button>
            <button
                class="btn <%= category.match(/^catch/) ? 'white' : '' %>"
                title="osu!catch"
                hx-get="<%= category_navigation.catch %>">
                <img src="/assets/ruleset-icons/fruits.svg" class="icon mask" />
            </button>
            <button
                class="btn <%= category.match(/^mania(?!.*(?:4k|7k|otherkeys))/) ? 'white' : '' %>"
                title="osu!mania (all keys)"
                hx-get="<%= category_navigation.mania %>">
                <img src="/assets/ruleset-icons/mania.svg" class="icon mask" />
            </button>
        </div>
        <div class="flex gap-4">
            <button
                class="btn <%= category.match(/^mania.*4k/) ? 'white' : '' %>"
                title="osu!mania (4K)"
                hx-get="<%= category_navigation.mania4k %>">
                <img src="/assets/ruleset-icons/mania.svg" class="icon mask" />
                <span class="badge">4K</span>
            </button>
            <button
                class="btn <%= category.match(/^mania.*7k/) ? 'white' : '' %>"
                title="osu!mania (7K)"
                hx-get="<%= category_navigation.mania7k %>">
                <img src="/assets/ruleset-icons/mania.svg" class="icon mask" />
                <span class="badge">7K</span>
            </button>
            <button
                class="btn <%= category.match(/^mania.*otherkeys/) ? 'white' : '' %>"
                title="osu!mania (not 4K or 7K)"
                hx-get="<%= category_navigation.maniaOther %>">
                <img src="/assets/ruleset-icons/mania.svg" class="icon mask" />
                <span class="badge">other</span>
            </button>
        </div>
    </div>
    <!-- Includes -->
    <div class="flex gap-4">
        <button
            class="btn <%= includeRanked ? 'green' : '' %>"
            title="Ranked and approved maps: <%= includeRanked ? 'Included' : 'Excluded' %>"
            hx-get="<%= category_navigation.toggleRanked || '' %>">
            <span class="icon">check_circle</span>
        </button>
        <button
            class="btn <%= includeLoved ? 'pink' : '' %>"
            title="Loved maps: <%= includeLoved ? 'Included' : 'Excluded' %>"
            hx-get="<%= category_navigation.toggleLoved || '' %>">
            <span class="icon">favorite</span>
        </button>
        <% if (!category.match(/^osu/)) { %>
        <button
            class="btn <%= includeSpecifics ? 'blue' : '' %>"
            title="Specifics: <%= includeSpecifics ? 'Included' : 'Excluded' %>\nSpecifics are maps made specifically for a certain mode."
            hx-get="<%= category_navigation.toggleSpecifics || '' %>">
            <span class="icon">target</span>
        </button>
        <button
            class="btn <%= includeConverts ? 'yellow' : '' %>"
            title="Converts: <%= includeConverts ? 'Included' : 'Excluded' %>\nConverts are maps converted from osu!standard to another mode."
            hx-get="<%= category_navigation.toggleConverts || '' %>">
            <span class="icon">swap_horizontal_circle</span>
        </button>
        <% } %>
    </div>
</div>
