<a href="/u/<%= user.id %>" class="userCard p-relative rounded-16 overflow-hidden flex gap-16 align-center">
    <img
        class="banner p-absolute w-full h-full object-cover <%= locals?.noFade || '' %>"
        src="<%= user.banner_url %>"
        loading="lazy" />
    <div class="bannerDimming p-absolute w-full h-full"></div>
    <img
        class="avatar p-relative rounded-16 flex-no-shrink <%= locals?.noFade || '' %>"
        src="<%= user.avatar_url %>"
        loading="lazy" />
    <div class="content p-relative text-shadow-sm flex-grow flex col justify-center gap-4">
        <div class="name overflow-hidden text-ellipsis nowrap"><%= user.name %></div>
        <div class="flags overflow-hidden flex">
            <div class="flag country flex gap-4 align-center flex-no-shrink">
                <img class="flex-no-shrink rounded-4 <%= locals?.noFade || '' %>" src="<%= user.country.flag_url %>" />
                <span class="name overflow-hidden text-ellipsis nowrap"><%= user.country.name %></span>
            </div>
            <div class="flag team flex gap-4 align-center">
                <img class="flex-no-shrink rounded-4 <%= locals?.noFade || '' %>" src="<%= user.team.flag_url %>" />
                <span class="name overflow-hidden text-ellipsis nowrap"><%= user.team.name %></span>
            </div>
        </div>
    </div>
</a>
