<section id="basicStats" class="stats flex flex-wrap">
    <div class="stat big flex col">
        <div class="key">category rank</div>
        <div
            class="value"
            title="Best was #<%= stats.best_rank %> on <%= dayjs(stats.best_rank_time).format('YYYY-MM-DD') %>">
            #<%= stats.rank == 0 ? '-' : stats.rank %>
        </div>
    </div>
    <div class="stat big flex col">
        <div class="key">completion xp</div>
        <div class="value"><%= n(stats.xp) %></div>
    </div>
    <div class="stat big flex col">
        <div class="key">% completed</div>
        <div
            class="value"
            title="This percentage is time-based\nBest was <%= n(stats.best_percentage_completed, 2) %>% on <%= dayjs(stats.best_percentage_completed_time).format('YYYY-MM-DD') %>">
            <%= n(stats.percentage_completed, 2) %>%
        </div>
    </div>
</section>
