<section id="completionProgressCard" class="card lighter padded progress flex col gap-16">
    <div class="flex col gap-16 flex-grow">
        <div>
            <h2 class="header">completion progress</h2>
        </div>
        <div style="width: 100%; height: 100px; display: relative">
            <canvas id="progressGraph"></canvas>
            <script>
                function loadProgressGraph() {
                    // Prepare data
                    const data = JSON.parse('<%- JSON.stringify(historyDaily) %>');
                    if (data.length < 2) data.push(data[0]);
                    // Render graph
                    renderGraph(document.getElementById('progressGraph'), {
                        labels: data.map(dp => dp.date),
                        datasets: [
                            {
                                values: data.map(dp => dp.percentage_completed)
                            }
                        ],
                        tooltipCallbacks: {
                            label: context => `${context.parsed.y.toFixed(4)}% completed`
                        },
                        showAxisLabels: true,
                        height: 100
                    });
                }
                safelyRunOnLoad(loadProgressGraph);
            </script>
        </div>
        <div id="progressStatsRow" class="flex gap-16">
            <div class="stats flex-grow flex flex-wrap">
                <!-- <div class="stat flex col gap-2">
                    <div class="key">% maps passed</div>
                    <div class="value"><%= n(stats.count_completed / stats.count_total * 100, 2) %>%
                    </div>
                </div> -->
                <div class="stat flex col gap-2">
                    <div class="key">maps passed</div>
                    <div class="value"><%= n(stats.count_completed) %></div>
                </div>
                <div class="stat flex col gap-2">
                    <div class="key">maps left</div>
                    <div class="value"><%= n(stats.count_total - stats.count_completed) %></div>
                </div>
                <div class="stat flex col gap-2">
                    <div class="key">cxp left</div>
                    <div class="value"><%= n(stats.xp_remaining) %></div>
                </div>
                <div class="stat flex col gap-2">
                    <div class="key">nomod playtime left</div>
                    <div
                        class="value"
                        title="<%= utils.getPlaytimeTooltip(stats.secs_remaining, { rounded: true, include: ['h', 'm', 's'], format: `{time} left ({mod})` }) %>">
                        <%= utils.secsToDuration(stats.secs_remaining, false, ['d','h','m']) %>
                    </div>
                </div>
            </div>
            <div id="categoryStatsHeader">
                <h3 class="header">category totals</h3>
            </div>
            <div class="stats flex flex-wrap">
                <div class="stat flex col gap-2">
                    <div class="key">total maps</div>
                    <div class="value"><%= n(stats.count_total) %></div>
                </div>
                <div class="stat flex col gap-2">
                    <div class="key">total obtainable cxp</div>
                    <div class="value"><%= n(stats.xp_total) %></div>
                </div>
                <div class="stat flex col gap-2">
                    <div class="key">total nomod playtime</div>
                    <div
                        class="value"
                        title="<%= utils.getPlaytimeTooltip(stats.secs_total, { rounded: true, include: ['h', 'm', 's'], format: `{time} total ({mod})` }) %>">
                        <%= utils.secsToDuration(stats.secs_total, false, ['d','h','m']) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h3 class="header">completion by year</h3>
    </div>
    <%- include('./yearlyStats', { yearly, yearlyType }) %> <% if (user.isMe) { %>
    <div>
        <button id="inaccurateStatsHelp" class="btn text accent small">
            <span class="label">help, my stats aren't accurate...</span>
        </button>
        <script>
            document.getElementById('inaccurateStatsHelp').addEventListener('click', async () => {
                const hasFullImport = '<%= user.has_full_import %>';
                const isImporting = '<%= updateStatus.updating %>';
                if (isImporting === 'true') {
                    return showPopup(
                        'Import in progress',
                        `<p>Your completion stats are currently being imported from osu!, so they might seem incomplete until the import is done. Check back when it's finished to see if everything looks right.</p>`,
                        [
                            {
                                label: 'Okay',
                                class: 'primary'
                            }
                        ]
                    );
                } else if (hasFullImport === 'true') {
                    return showPopup(
                        'Hmm...',
                        `<p>We've already fully imported your completion stats, so importing again is unlikely to fix anything.</p><p>If you think you're still missing passes or your stats are inaccurate, please join the Discord server and let Kayla know so we can investigate further.</p>`,
                        [
                            {
                                label: 'Join Discord server',
                                href: '/discord',
                                newTab: true
                            },
                            {
                                label: 'Okay',
                                class: 'primary'
                            }
                        ]
                    );
                } else {
                    showPopup(
                        `Let's do a full import`,
                        `
                            <p>When we initially imported your completion data, we used your <b>most played maps</b> to determine what maps we should check for passes. While this is accurate for the vast majority of casual completionists, you may find that you're missing some passes if you've been playing osu! for a long time or have passed lots of maps.</p>
                            <p>Click the button below to start a <b>full import</b> for your account, where we'll check every single map to make sure we've saved all of your passes. This can help to catch those that might have been missed by checking your most played, but <b>it'll take a few hours and can only be done once</b>.</p>
                            <p>Your profile will appear frozen while the import is in progress, but new passes will be saved in the background.</p>
                            <p><small>If you've already done a full import, this option is available again because we fixed bugs that could've impacted your results.</small></p>
                        `,
                        [
                            {
                                label: 'Nevermind'
                            },
                            {
                                label: `Start full import`,
                                class: 'primary',
                                href: '/u/<%= user.id %>/reimport'
                            }
                        ]
                    );
                }
            });
        </script>
    </div>
    <% } %>
</section>
