<link rel="stylesheet" href="<%- asset('/assets/css/activity.css') %>" />
<div
    id="activity"
    class="flex col gap-24"
    hx-get=""
    hx-trigger="every 15s, page_refocus from:body"
    hx-select-oob="#queue, #passFeed, #dailyLeaderboard, #monthlyLeaderboard"
    hx-swap="none">
    <h2 class="head flex justify-center text-center gap-8 flex-wrap">
        <div class="logo">
            <span class="white">osu!</span>
            <span class="color">complete</span>
        </div>
        <span>Activity</span>
    </h2>
    <div class="grid">
        <div class="card">
            <section class="scroll flex col">
                <div id="queue" class="flex col gap-16">
                    <div class="flex col">
                        <div class="stickyHeaderCont">
                            <h2 class="header">In progress (<%= queue.in_progress.length %>)</h2>
                        </div>
                        <% if (queue.in_progress.length) { %>
                        <div class="userCardContainer">
                            <!-- prettier-ignore -->
                            <% for (const user of queue.in_progress) { %>
                            <% if (!user) continue; %>
                            <%- include('../partials/userCard', { user }) %>
                        <% } %>
                        </div>
                        <% } else { %>
                        <div class="empty">No users are being imported at this time.</div>
                        <% } %>
                    </div>
                    <div class="flex col">
                        <div class="stickyHeaderCont">
                            <h2 class="header">Queued (<%= queue.waiting.length %>)</h2>
                        </div>
                        <% if (queue.waiting.length) { %>
                        <div class="userCardContainer">
                            <!-- prettier-ignore -->
                            <% for (const user of queue.waiting) { %>
                            <%- include('../partials/userCard', { user }) %>
                        <% } %>
                        </div>
                        <% } else { %>
                        <div class="empty">The import queue is empty.</div>
                        <% } %>
                    </div>
                </div>
            </section>
        </div>
        <div class="card flex col gap-16">
            <div class="hpad">
                <h2 class="header">Pass feed</h2>
            </div>
            <section class="scroll flex col">
                <div id="passFeed" class="flex col-rev gap-2">
                    <% if (passes.length == 0) { %>
                    <div class="empty">No data.</div>
                    <% } %>
                    <!-- prettier-ignore -->
                    <% for (const pass of passes) { %>
                    <div class="pass flex gap-8 align-center <%= me?.id == pass.user.id ? 'highlight' : '' %>">
                        <span class="time" data-timestamp="<%= pass.time_passed %>" data-format="HH:mm"></span>
                        <img
                            class="rulesetIcon"
                            src="/assets/ruleset-icons/<%= pass.beatmap.mode %>.svg"
                            class="ruleset flex-no-shrink"
                            style="background: <%= pass.beatmap.difficulty_color.bg %>"
                            title="<%= pass.beatmap.stars.toFixed(2) %> stars" />
                        <span>
                            <strong><a href="/u/<%= pass.user.id %>"><%= pass.user.name %></a></strong>
                            passed
                            <strong>
                                <%= `${pass.beatmap.beatmapset.artist} - ${pass.beatmap.beatmapset.title}
                                [${pass.beatmap.name}]` %>
                            </strong>
                            for
                            <strong><%= pass.beatmap.xp %> cxp</strong>
                        </span>
                    </div>
                    <% } %>
                </div>
            </section>
            <script>
                (() => {
                    const passFeed = document.getElementById('passFeed');
                    if (passFeed) {
                        const scrollContainer = passFeed.closest('.scroll');
                        scrollContainer.scrollTop = scrollContainer.scrollHeight;
                    }
                })();
            </script>
        </div>
        <div class="card flex col gap-16">
            <div class="hpad">
                <h2 class="header">Most active completionists (past 24 hours)</h2>
            </div>
            <section class="scroll flex col">
                <div id="dailyLeaderboard" class="flex col gap-4">
                    <% if (leaderboardDaily.length == 0) { %>
                    <div class="empty">No data.</div>
                    <% } %>
                    <!-- prettier-ignore -->
                    <% for (const entry of leaderboardDaily) { %>
                        <%-
                            include('../partials/leaderboardEntry', { 
                                user: entry.user, 
                                rank: entry.rank,
                                stats: [
                                    { key: 'cxp earned', value: n(entry.xp), primary: true },
                                    { key: 'new passes', value: n(entry.count) }
                                ],
                                highlight: me?.id == entry.user.id
                            })
                        %>
                    <% } %>
                </div>
            </section>
        </div>
        <div class="card flex col gap-16">
            <div class="hpad">
                <h2 class="header">Most active completionists (past 30 days)</h2>
            </div>
            <section class="scroll flex col">
                <div id="monthlyLeaderboard" class="flex col gap-4">
                    <% if (leaderboardMonthly.length == 0) { %>
                    <div class="empty">No data.</div>
                    <% } %>
                    <!-- prettier-ignore -->
                    <% for (const entry of leaderboardMonthly) { %>
                        <%-
                            include('../partials/leaderboardEntry', { 
                                user: entry.user, 
                                rank: entry.rank,
                                stats: [
                                    { key: 'cxp earned', value: n(entry.xp), primary: true },
                                    { key: 'new passes', value: n(entry.count) }
                                ],
                                highlight: me?.id == entry.user.id
                            })
                        %>
                    <% } %>
                </div>
            </section>
        </div>
    </div>
</div>
