<link rel="stylesheet" href="<%- asset('/assets/css/home.css') %>" />
<div id="home">
    <section class="header flex col gap-16 align-center">
        <div class="logo">
            <span class="white">osu!</span>
            <span class="color">complete</span>
        </div>
        <% if (me) { %>
        <div class="slogan">Welcome back, <%= me.name %>!</div>
        <% } else { %>
        <div class="slogan">A modern, feature-rich osu! completionist tracker and leaderboard</div>
        <% } %>
    </section>
    <section class="actions p-relative flex col gap-12 align-center">
        <div class="buttons flex gap-12 flex-wrap justify-center">
            <a href="/leaderboard" class="btn large">
                <span class="icon filled">leaderboard</span>
                Leaderboard
            </a>
            <% if (me) { %>
            <a href="/u/<%= me.id %>" class="btn large primary">
                <span class="icon filled">person</span>
                My profile
            </a>
            <% } else { %>
            <a href="/auth/login" class="btn large primary">
                <span class="icon filled">person</span>
                Sign in with osu!...
            </a>
            <% } %>
        </div>
        <span class="or">or</span>
        <form class="search flex gap-8 justify-center" action="/search" method="GET">
            <div class="textbox medium hasIcon w-full">
                <span class="icon">search</span>
                <input type="text" class="input" name="q" placeholder="Search tracked players and maps..." />
            </div>
            <button type="submit" class="btn medium primary">Go</button>
        </form>
    </section>
    <section class="stats flex flex-wrap justify-center align-center">
        <div class="card flex col gap-8">
            <div class="value"><%= n(stats.users) %></div>
            <div class="label">tracked players</div>
        </div>
        <div class="card flex col gap-8">
            <div class="value"><%= n(stats.beatmaps) %></div>
            <div class="label">unique beatmaps</div>
        </div>
        <div class="card flex col gap-8">
            <div class="value"><%= n(stats.passes) %></div>
            <div class="label">total beatmap passes</div>
        </div>
        <div class="card flex col gap-8">
            <div class="value"><%= n(stats.xp) %></div>
            <div class="label">total completion xp earned</div>
        </div>
    </section>
</div>
<script src="/generic/js/triangles-bg.js"></script>
<script>
    initTriangleBackground(document.getElementById('bgCanvas'), {
        triColor: 'hsl(140, 30%, 50%)',
        bgColor1: 'hsl(220, 20%, 10%)',
        bgColor2: 'hsl(220, 20%, 10%)',
        density: 20000,
        speed: 0.25,
        strokeWidth: 2,
        maxSize: 150,
        opacity: 0.3
    });
</script>
