<link rel="stylesheet" href="<%- asset('/assets/css/profile.css') %>" />
<div
    id="profile"
    class="flex col gap-16"
    data-socket-room="user_<%= user.id %>,maps"
    hx-get=""
    hx-select="#dummy"
    hx-select-oob="#basicStats,#completionProgressCard,#recentPassesCard"
    hx-swap="none"
    hx-trigger="page_refocus from:body, socket_update_stats from:body, socket_new_mapset from:body">
    <%- include('../partials/profile/cardImportProgress', { updateStatus }) %>
    <section id="profileContent" class="card flex col gap-8">
        <div
            id="banner"
            class="banner p-relative rounded-8 w-full"
            style="background-image: url('<%= user.banner_url %>')">
            <div class="buttons p-absolute flex row-rev gap-8 flex-wrap">
                <a
                    class="btn translucent square"
                    href="https://osu.ppy.sh/users/<%= user.id %>"
                    target="_blank"
                    title="View profile on osu! website">
                    <span class="icon">open_in_new</span>
                </a>
                <button id="showSharePopup" class="btn translucent">
                    <span class="icon">share</span>
                    <span>share & embed...</span>
                </button>
                <!-- Handle showing dynamic share popup -->
                <script>
                    document.querySelector('#showSharePopup').addEventListener('click', () => {
                        showDynamicPopup(`Share profile`, '?partial=share_popup', [{ label: 'Close' }], {
                            width: 800,
                            height: 900
                        });
                    });
                </script>
                <!-- Show set default category button if the current one isn't the default -->
                <% if (me?.id == user.id && user.default_category !== category) { %>
                <a href="/u/<%= user.id %>/<%= category %>/set-default" class="btn translucent">
                    <span class="icon filled">star</span>
                    <span>Set category as default</span>
                </a>
                <% } %>
            </div>
        </div>
        <div id="basics" class="basics overflow-hidden flex gap-16 align-center">
            <img src="<%= user.avatar_url %>" class="avatar rounded-24 flex-no-shrink" />
            <div class="text overflow-hidden text-ellipsis nowrap flex col gap-4 flex-grow">
                <div class="name overflow-hidden text-ellipsis nowrap"><%= user.name %></div>
                <div class="flags flex flex-wrap align-center">
                    <div class="country flex gap-4 align-center">
                        <img src="<%= user.country.flag_url %>" class="flag rounded-4" />
                        <span class="label"><%= user.country.name %></span>
                    </div>
                    <% if (user.team.id) { %>
                    <div class="team flex gap-4 align-center">
                        <img src="<%= user.team.flag_url %>" class="flag rounded-4" />
                        <span class="label"><%= user.team.name %></span>
                    </div>
                    <% } %>
                </div>
            </div>
            <!-- This is just the stats to the right of the avatar and name -->
            <%- include('../partials/profile/basicStats', { stats }) %>
        </div>

        <!-- Include completion progress card -->
        <%- include('../partials/profile/cardCompletionProgress', { user, stats, historyDaily, yearly, yearlyType,
        updateStatus }) %>

        <!-- Include play next card if we have recommendations -->
        <%- recommended ? include('../partials/profile/cardPlayNext', { recommended, recommendedQuery, category }) : ''
        %>

        <!-- Include recent passes card -->
        <%- include('../partials/profile/cardRecentPasses', { recentPasses }) %>
    </section>
</div>

<script>
    initSocket();
</script>
