<link rel="stylesheet" href="<%- asset('/assets/css/recommended.css') %>" />
<section class="flex col gap-16">
    <div id="recommended" class="card flex col" data-socket-room="user_<%= me?.id %>,maps">
        <form
            class="settings flex col gap-8"
            hx-get="/recommended/<%= category %>"
            hx-select="#results"
            hx-select-oob="#searchHint"
            hx-target="#results"
            hx-indicator="#results"
            hx-swap="outerHTML"
            hx-replace-url="true"
            hx-trigger="
                page_refocus from:body throttle:60s,
                socket_update_stats from:body,
                socket_new_mapset from:body,
                change, submit, input delay:500ms
            ">
            <div class="inputs flex gap-8">
                <div class="textbox medium hasIcon flex-grow">
                    <span class="icon">search</span>
                    <input
                        type="text"
                        name="q"
                        id="inputQuery"
                        class="input"
                        placeholder="<%= placeholder %>"
                        value="<%= settings.query %>"
                        autocapitalize="none"
                        autocomplete="off"
                        spellcheck="false" />
                </div>
                <div class="flex row gap-8">
                    <div class="textbox medium select hasIcon flex-grow">
                        <span class="icon">sort</span>
                        <select name="sort" class="input" id="inputSort">
                            <% for (const type of settings.sortTypes) { %>
                            <!-- Mark selected option -->
                            <% if (type.id === (settings.sort || '')) { %>
                            <option value="<%= type.id %>" selected><%= type.name %></option>
                            <% } else { %>
                            <option value="<%= type.id %>"><%= type.name %></option>
                            <% } %> <% } %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="hint flex align-center">
                <button class="help btn small text accent" id="filterHelpButton" type="button">
                    <span class="icon">filter_alt</span>
                    <span class="label">Filter help</span>
                </button>
                <div id="searchHint" class="status">Found <%= n(results.total_matches) %> un-passed maps</div>
            </div>
        </form>
        <section id="results">
            <% if (results.beatmaps.length) { %>
            <div class="card lighter flex col gap-8" style="padding: 8px">
                <div class="flex align-center justify-center flex-wrap gap-8">
                    <a
                        href="/recommended/<%= category %>/surprise?dest=direct&q=<%= encodeURIComponent(settings.query) %>"
                        class="btn primary">
                        <span class="icon filled">casino</span>
                        <span class="label">Pick for me (osu!direct)</span>
                    </a>
                    <a
                        target="_blank"
                        href="/recommended/<%= category %>/surprise?dest=osu&q=<%= encodeURIComponent(settings.query) %>"
                        class="btn">
                        <span class="icon filled">casino</span>
                        <span class="label">Pick for me (osu!web)</span>
                    </a>
                </div>
                <div class="beatmapCardContainer">
                    <% for (const beatmap of results.beatmaps) { %> <%- include('../partials/beatmap/card', { beatmap })
                    %> <% } %>
                </div>
            </div>
            <% } else { %>
            <div class="flex col gap-16 align-center noResults">
                <div class="icon">help</div>
                <p>Either your search found no maps or you've passed them all.</p>
            </div>
            <% } %>
        </section>
    </div>
</section>
<script id="data-filterHelp" type="application/json">
    <%- JSON.stringify(filterHelpHtml) %>
</script>
<script>
    document.querySelector('#filterHelpButton').addEventListener('click', () => {
        const html = JSON.parse(document.getElementById('data-filterHelp').textContent);
        const dialog = showPopup(`Searching and filtering help`, html, [{ label: 'Close' }], { width: 800 });
    });
</script>

<script>
    initSocket();
</script>
