<link rel="stylesheet" href="<%- asset('/assets/css/search.css') %>" />
<section id="search" class="card flex col gap-8">
    <form
        class="flex gap-8"
        hx-get="/search"
        hx-select="#results"
        hx-target="#results"
        hx-indicator="#results"
        hx-swap="outerHTML"
        hx-trigger="change, submit, input delay:500ms"
        hx-replace-url="true">
        <div class="textbox medium hasIcon flex-grow">
            <span class="icon">search</span>
            <input
                type="text"
                name="q"
                id="inputQuery"
                class="input"
                placeholder="Search tracked players and maps..."
                value="<%= query %>" />
        </div>
    </form>
    <section id="results" class="card lighter padded flex col gap-16 loading-fade">
        <div>
            <% if (query) { %>
            <h2 class="header">Players (<%= n(user_results.total_matches) %>)</h2>
            <% } else { %>
            <h2 class="header">Recently active players</h2>
            <% } %>
        </div>
        <% if (user_results.total_matches) { %>
        <div class="users userCardContainer">
            <% for (const user of user_results.users) { %> <%- include('../partials/userCard', { user }) %> <% } %>
        </div>
        <% } else { %>
        <div class="users empty">No tracked players matched your search.</div>
        <% } %>
        <div>
            <% if (query) { %>
            <h2 class="header">Beatmaps (<%= n(map_results.total_matches) %>)</h2>
            <% } else { %>
            <h2 class="header">Recently ranked beatmaps</h2>
            <% } %>
        </div>
        <% if (map_results.total_matches) { %>
        <div class="maps beatmapCardContainer">
            <% for (const beatmap of map_results.beatmaps) { %> <%- include('../partials/beatmap/card', { beatmap }) %>
            <% } %>
        </div>
        <% } else { %>
        <div class="maps empty">No beatmaps matched your search.</div>
        <% } %>
    </section>
</section>
