<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Render</title>
        <link rel="stylesheet" href="/generic/css/utils.css" />
        <link rel="stylesheet" href="/generic/css/theme.css" />
        <link rel="stylesheet" href="<%= asset('/assets/css/layout.css') %>" />
        <link rel="stylesheet" href="<%= asset('/assets/css/render-embeds.css') %>" />
    </head>

    <body>
        <div id="card" class="flex col gap-16 rounded-16">
            <div id="top" class="flex row gap-16 align-center">
                <span class="title flex-grow flex-no-shrink">Completion by Year</span>
                <span class="category overflow-hidden nowrap text-ellipsis"><%= categoryName %></span>
            </div>
            <div class="yearlyStatsContainer flex-grow">
                <% for (const yearData of yearly) { %> <%- include('../../partials/statsYearEntryLine', { ...yearData,
                yearlyType: 'maps' }) %> <% } %>
            </div>
            <div id="bottom" class="flex row gap-16 align-end">
                <span class="user flex gap-12 align-center flex-grow">
                    <img src="<%= user.avatar_url %>" class="avatar rounded-8 loaded" />
                    <div class="flex col gap-4">
                        <div class="flex row gap-8 align-center">
                            <span class="name"><%= user.name %></span>
                            <img src="<%= user.country.flag_url %>" class="flag country loaded" />
                            <img src="<%= user.team.flag_url %>" class="flag team loaded" />
                        </div>
                        <span class="rankCont">
                            Category rank
                            <span class="rank">#<%= stats.rank == 0 ? '-' : stats.rank %></span>
                        </span>
                    </div>
                </span>
                <div class="flex col gap-2 text-right">
                    <span class="timestamp"><%= dayjs().utc().format('YYYY-MM-DD HH:mm:ss [UTC]') %></span>
                    <span>Powered by osucomplete.org</span>
                </div>
            </div>
        </div>
        <%- query.base_hue ? `
        <style>
            body {
                --base-hue: ${parseInt(query.base_hue)};
            }
        </style>
        ` : '' %> <%- query.base_sat ? `
        <style>
            body {
                --base-sat: ${parseInt(query.base_sat)}%;
            }
        </style>
        ` : '' %>
    </body>
</html>
